@import "../../assets/scss/variables";

.footer-container {
  min-height: $footer-height;
  .image-container {
    width: 10%;
    background-color: var(--primary-font-color);
    float: left;
  }
}
.externnal-links {
  i {
    font-size: 1.2rem;
    margin-left: 1.5rem;
  }
}

@media only screen and (max-width: 786px) {
  .footer-container {
    min-height: $footer-height * 1.2;
  }
}
