@import "../../assets/scss/variables";

.footer-container {
  padding-bottom: $footer-end-offset;
  .image-container {
    width: 10%;
    background-color: var(--primary-font-color);
    float: left;
  }
  .email-btn {
    color: var(--primary-font-color);
  }
}
.externnal-links {
  i {
    font-size: 1.2rem;
    margin-left: 1.5rem;
  }
}
