$top-nav-bar-height: 65px;
$image-icon-small-size: 50px;

$main-body-top-position-buffer: $top-nav-bar-height + 30px;

$side-only-box-size: 45px;
$side-only-box-border-width: 4px;
$side-only-box-pos-y: -9px;
$side-only-box-pos-x: -15px;

$primary-button-border: 2px;
$primary-button-height: 35px;
$primary-button-width: 120px;
$primary-button-border-radius: 30px;

$setting-container-top-buffer: 10px;
$setting-container-width: 150px;
$setting-container-border-radius: 10px;
$color-dot-size: 18px;

$setting-icon-size: 1.5rem;
$setting-icon-gap: 0.5rem;

$slider-wrapper-btn-margin: 2px;

$about-technology-button-gap: 10px;
$about-external-button-gap: 10px;

$footer-end-offset: 100px;
