:root {
  --primary-bg-color: #012619;
  --primary-font-color: #ffffff;
  --secondary-bg-color: #023524;
}

.light-theme {
  --primary-bg-color: #f8f8ff; // azure ghostwhite mintcream whitesmoke floralwhite;
  --primary-font-color: #2d2d2d;
  --secondary-bg-color: #e4e8ec;
}
