<div class="container about-container-wrapper">
  <div class="row">
    <div class="fs-4 side-only-box-border text-center">
      <span>Lets Work Together</span>
    </div>
    <div class="col-lg-8">
      <div
        class="about-container d-flex justify-content-between flex-column h-100"
      >
        <div>
          <h5>Software Developer</h5>
          <h1>Hello...</h1>
          <h1>
            I'm <span class="highlight-color-text">Mriganka Sekhar Sarkar</span>
          </h1>
          <p>
            I specialize in creating sophisticated digital experiences and
            possess expertise in a wide range of programming languages and
            technologies.
          </p>
        </div>
        <div class="mt-4">
          <h5>Technology stack:</h5>
          <div class="technology-stack-icon">
            <i class="fa-brands fa-js" style="color: #f0db4f"></i>
            <i class="fa-brands fa-angular" style="color: #f44336"></i>
            <i class="fa-brands fa-html5" style="color: #f06529"></i>
            <i class="fa-brands fa-css3-alt" style="color: #2965f1"></i>
            <i class="fa-brands fa-bootstrap" style="color: #712cf9"></i>
            <i class="fa-brands fa-node" style="color: #417e38"></i>
            <i class="fa-brands fa-sass" style="color: #bf4080"></i>
            <i class="fa-solid fa-database" style="color: #c74634"></i>
            <i class="fa-brands fa-java" style="color: #5382a1"></i>
            <i class="fa-brands fa-git" style="color: #f14e32"></i>
          </div>
        </div>
        <div class="contact-details mt-4">
          <span class="me-3"
            ><i class="fa-solid fa-phone highlight-color-text"></i>
            +91-9062500811</span
          >
          <span class="btn px-0" role="button" (click)="openMail()">
            <i class="fa-solid fa-envelope highlight-color-text"></i>
            mriganka.s.sarkar@gmail.com
          </span>
        </div>
        <div class="externnal-links d-flex align-items-center mt-4">
          <button
            class="button-primary highlight-color-text"
            (click)="downloadCV()"
          >
            Download CV
          </button>
          <a href="https://github.com/aknagirm?tab=repositories" target="_blank"
            ><i class="fa-brands fa-github highlight-color-text"></i
          ></a>
          <a
            href="https://linkedin.com/in/mriganka-sekhar-sarkar-974814a2"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin highlight-color-text"></i
          ></a>
          <a href="https://www.facebook.com/mr.mriga" target="_blank">
            <i class="fa-brands fa-facebook-f highlight-color-text"></i
          ></a>
          <a href="https://www.instagram.com/sarkarmriganka/" target="_blank">
            <i class="fa-brands fa-instagram highlight-color-text"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-4 mt-md-0">
      <img src="assets/img-full.jpg" alt="" class="w-100" />
    </div>
  </div>
</div>
