.about-container-wrapper {
  .about-container {
    text-wrap: balance;
    h1 {
      font-size: 3rem;
    }
    .technology-stack-icon {
      i {
        margin-right: 10px;
        font-size: 1.7rem;
      }
    }

    .externnal-links {
      i {
        font-size: 1.2rem;
        margin-left: 10px;
      }
    }
  }
}
