.start-end-date {
  font-style: italic;
  font-size: small;
}

.card {
  color: var(--primary-font-color);
  border-color: var(--secondary-bg-color);
  .card-body {
    background-color: var(--primary-bg-color);
  }
  .card-header {
    background-color: var(--secondary-bg-color);
  }
}
