@import "../assets/scss/variables";

.main-body {
  position: relative;
  top: $main-body-top-position-buffer;
}
hr {
  margin: 5rem 3rem;
}

@media only screen and (max-width: 768px) {
  hr {
    margin: 3rem 3rem;
  }
}
