.side-panel {
  height: 100vh;
}

@media only screen and (max-width: 767px) {
  .side-panel {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .side-panel {
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) {
  .side-panel {
    width: 30%;
  }
}
