<div class="container-fluid shadow position-fixed nav-bar-wrapper">
  <nav
    class="container position-relative d-flex justify-content-between py-2 h-100"
  >
    <div class="left-item d-flex justify-content-between">
      <div class="image-container rounded-circle overflow-hidden">
        <img src="../../assets/img-75x75.png" class="w-100 h-100" alt="" />
      </div>
      <h2 class="ms-3 highlight-color-text">aknagirm</h2>
    </div>
    <div class="d-md-flex d-none">
      <div class="right-item d-flex align-items-center">
        <button type="button" class="btn" (click)="scrollIntoView('about')">
          About
        </button>
        <button
          type="button"
          class="btn"
          (click)="scrollIntoView('experience')"
        >
          Experience
        </button>
        <button type="button" class="btn" (click)="scrollIntoView('project')">
          Projects
        </button>
        <button type="button" class="btn" (click)="scrollIntoView('contact')">
          Education
        </button>
      </div>
    </div>
  </nav>
</div>

<div class="nav-bar-btn-bottom-wrapper w-100">
  <div class="row gx-0 h-100 px-3">
    <div class="d-md-none d-flex justify-content-evenly nav-bar-btn-bottom">
      <button type="button" class="btn" (click)="scrollIntoView('about')">
        About
      </button>
      <button type="button" class="btn" (click)="scrollIntoView('experience')">
        Experience
      </button>
      <button type="button" class="btn" (click)="scrollIntoView('project')">
        Projects
      </button>
      <button type="button" class="btn" (click)="scrollIntoView('contact')">
        Education
      </button>
    </div>
  </div>
</div>
