<div class="container-fluid shadow position-fixed nav-bar-wrapper">
  <nav
    class="container position-relative d-flex justify-content-between py-2 h-100"
  >
    <div class="left-item d-flex justify-content-between align-items-baseline">
      <div class="image-container rounded-circle overflow-hidden">
        <img src="../../assets/img-75x75.png" class="w-100 h-100" alt="" />
      </div>
      <p class="ms-3 fs-5 highlight-color-text">aknagirm</p>
    </div>
    <div class="d-flex">
      <div class="right-item d-flex align-items-center">
        <div>
          <button type="button" class="btn">About</button>
          <button type="button" class="btn">Experience</button>
          <button type="button" class="btn">Projects</button>
          <button type="button" class="btn">Education</button>
        </div>
      </div>
    </div>
  </nav>
</div>
