@import "../../assets/scss/colors";
@import "../../assets/scss/variables";

.image-container {
  background-color: var(--primary-font-color);
  height: $image-icon-small-size;
  width: $image-icon-small-size;
}

.nav-bar-wrapper {
  background-color: var(--primary-bg-color);
  z-index: 2;
  height: $top-nav-bar-height;
  overflow: visible;
  button {
    color: var(--primary-font-color);
    font-size: 1.2rem;
  }
}
