@import "../../assets/colors";

.image-container {
  background-color: $img-container-bg;
  height: 50px;
  width: 50px;
}

.nav-bar-wrapper {
  background-color: #212529;
  z-index: 2;
  height: 65px;
  overflow: visible;
}
