@import "../../assets/scss/variables";
@import "../../assets/scss/colors";

$slider-wrapper-height: $color-dot-size + ($slider-wrapper-btn-margin * 2);
$slider-wrapper-width: $slider-wrapper-height * 2;

.theme-icon {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  i {
    font-size: $setting-icon-size;
  }
}

.slider-wrapper {
  height: $slider-wrapper-height;
  width: $slider-wrapper-width;
  position: relative;

  > input {
    visibility: none;
    height: 0;
    width: 0;
  }

  .slider {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: $slider-wrapper-height;
    background-color: var(--primary-font-color);
  }

  .slider::before {
    display: block;
    margin: $slider-wrapper-btn-margin;
    content: "";
    height: $color-dot-size;
    width: $color-dot-size;
    border-radius: 50%;
    background-color: var(--primary-bg-color);
    transition: 0.4s;
  }

  > input:checked + .slider::before {
    transform: translateX($slider-wrapper-height);
  }
}
