$img-container-bg: white;
$background: #050505;
$font-color: #ffffff;
$sub-header: #757575;
$syllable: #a445ed;
$bullet-point: #8f19e8;
$segment-line: #3a3a3a;
$search-bar: #1f1f1f;
$vertical-bar: #e9e9e9;
$theme-change-icon-color: #a445ed;
$theme-highlight-color: #00ff99;
