@import "./assets/scss/variables";
@import "./assets/scss/colors";

body {
  color: var(--primary-font-color);
  background-color: var(--primary-bg-color);
}

.side-only-box-border {
  margin-bottom: 3rem;
  span {
    position: relative;
    &:before,
    &:after {
      position: absolute;
      content: "";
      height: $side-only-box-size;
      width: $side-only-box-size;
      border-width: $side-only-box-border-width;
      border-style: solid;
      border-color: transparent;
    }
    &:before {
      top: $side-only-box-pos-y;
      left: $side-only-box-pos-x;
      border-left-color: var(--highlighted-font-color);
      border-top-color: var(--highlighted-font-color);
    }
    &:after {
      bottom: $side-only-box-pos-y;
      right: $side-only-box-pos-x;
      border-right-color: var(--highlighted-font-color);
      border-bottom-color: var(--highlighted-font-color);
    }
  }
}

.highlight-color-text {
  color: var(--highlighted-font-color);
}

.button-primary {
  background-color: var(--primary-bg-color);
  font-size: 0.9rem;
  border: $primary-button-border solid var(--highlighted-font-color);
  border-radius: $primary-button-border-radius;
  width: $primary-button-width;
  height: $primary-button-height;
}
