@import "../../assets/scss/colors";
@import "../../assets/scss/variables";

$setting-icon-pos: (($setting-icon-gap * 2) + $setting-icon-size) * -1;

.settings-container {
  position: fixed;
  top: $top-nav-bar-height + $setting-container-top-buffer;
  width: $setting-container-width;
  background-color: var(--secondary-bg-color);
  border-bottom-left-radius: $setting-container-border-radius;
  z-index: 2;
}

.circle-dot {
  height: $color-dot-size;
  width: $color-dot-size;
  border-radius: 50%;
}

.color-change-btn {
  color: var(--highlighted-font-color);
}

.setting-icon {
  font-size: $setting-icon-size;
  position: absolute;
  left: $setting-icon-pos;
  background-color: var(--secondary-bg-color);
  border-top-left-radius: $setting-container-border-radius;
  border-bottom-left-radius: $setting-container-border-radius;
  i {
    margin-left: $setting-icon-gap;
    margin-right: $setting-icon-gap;
  }
}
